extends layout

block content
  h1= title
  
  hr
  if msg.length
    ul
      each message in msg
        li
          h3 #{message.title}
          p 
            | #{message.message} 
          a(href=message.url) details 
          if user.membership_status
            b
              i #{message.author.username} 
            i #{message.timestamp_formatted}
          hr

  else
    p There are no messages.